<div class="pLarge p25">
	<h2>Getting Started- Developers</h2>
	<strong>The Stats SA <i>Component Library</i> provides front-end developers &amp; engineers a collection of reusable HTML and CSS partials to build websites and user interfaces. Adopting the library enables developers to use consistent markup, styles, and behavior in prototype and production work.</strong>
	<h3>Using the Design Kit</h3>
	<p>The Design Kit contains core visual styles, components, color swatches, iconography, and templates. It also has a collection of symbols and text styles for rapid design and layout prototyping.</p>
</div>
